.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #010854;
}

.menu li {
  float: right;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 1.2em;
  padding: 14px 16px;
  font-weight: bolder;
  font-style: normal;
 }

.menu li a:hover {
  color: #fc5c65;
}
.logo img{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header{
  position: absolute;
  margin-top: 16px;
  margin-left: 55px;
  margin-bottom: 16px;
  font-family: 'Carter One', cursive;
  color: white;
  font-size: 22px;
}
body {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpTdXWotB7GdWLMS0pU5hQRHds079hSRvQFQ&usqp=CAU");
}
img{
  border-radius: 10%;
  width: 125px;
  height: 135px;
  box-shadow: 0 0 10px black;
  margin-left: 500px;
  }
  p{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color:  black;
    background-color: lightblue;
    border: 2px solid #010854;
    padding: 10px;
    border-radius: 25px;

  }
  .footer {
     position: inherit;
     left: 0;
     bottom: 0;
     width: 93%;
     background-color:  #010854 ;
     color: white;
     padding: 50px;
  }
  .left-col{
    margin-left: 500px;
  }

  .footer-social-icons{
    width: 100%;
    height: : auto;
    margin: auto;
  }
  .footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: white;

  }
  .footer-social-icons ul li a{
    color: #010854;
    font-size: 25px;
  }
  .footer-social-icons ul li a i{
    line-height: 50px;
  }
  .footer-social-icons ul li a i:hover{
    opacity: 0.7;
   color: #fc5c65;
  }
